body {
	margin: 0px;
	background-image: url("../img/main.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

a {
	text-decoration: none;
}

/* ad section*/

aside {
	position: fixed;
	bottom: 20px;
	right: 40px;
	background: white;
	width: 150px;
	height: 200px;
	text-align: center;
	box-shadow: 0px 0px 4px black;
}

aside h3 {
	color: white;
	background-color: #1dba4c;
	width: 100px;
	height: 60px;
	margin: auto;
	padding: 10px;

}

#close {
	opacity: 0;
	position: relative;
	top: -10px;
	right: -140px;
	background-color: red;
	color: white;
	border-radius: 50px;
	width: 20px;
	height: 20px;
	text-align: center;
	box-shadow: 0px 0px 2px black;
	transition: opacity 0.2s ease-in;
}

aside:hover #close {
	opacity: 1;
}

/* end ad section */

header {
	display: flex;
	justify-content: space-between;
}

header, #home {
	color: white;
}

header a, #home a {
	color: white;
}

#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.section-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-container p, .section-container h2 {
	text-align: center;
}

.images-container {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}

.images-container img {
	padding: 10px;
}

#features-container {
	display: flex;
	justify-content: center;
}

#features-container .section-container {
	flex-basis: 25%;
}


.blue-line {
	border-bottom: 3px solid;
	border-bottom-color: #2959a5;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.layer {
	background-color: rgba(22, 47, 86, 0.7);
	width: 100vw;
	height: 100vh;
}